@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --ff-primary: "Inter", sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: black;
    color: white;
    height: 30rem;
    width: 15rem;
    border-radius: 1.4rem;
    box-shadow: 0rem 0rem 0.6rem rgb(0, 0, 0);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#image {
    display: block;
    background: url(../Images/image.jpg), no-repeat;
    background-size: cover;
    height: 12.5rem;
}

section#login > #formulario {
    padding: 0.6rem;
}

section#login > #formulario > h1 {
    font-family: var(--ff-primary);
    text-align: center;
    margin-bottom: .6rem;
}

div#formulario > p {
    font-size: 1em;
}

form > div.campo {
    background-color: violet;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #4000ffa3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #4000FF;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    padding-top: 5px;
    margin-top: 5px;
    width: 100%;
    height: 40px;
    background-color: #4000ffa3;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: #4000FF;
}

form > a.botao > span {
    font-size: 0.8em;
}